{% extends 'Layout/Default/base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {% embed 'Widget/Box/Primary/base.html.twig' %}
        {% block body %}
            {{ form_row(form.file, {'label': 'Fichier CSV'}) }}
            {{ form_rest(form) }}
        {% endblock body %}

        {% block footer %}
            <button type="submit" class="btn btn-primary pull-right">Importer les étudiants</button>
        {% endblock footer %}
    {% endembed %}
    {{ form_end(form) }}
{% endblock content %}
