{% extends 'Layout/Default/base.html.twig' %}

{% block content %}
    {% embed 'Widget/Box/Primary/base.html.twig' %}
        {% block header %}
            Informations générales
        {% endblock  %}
        {% block body %}
            <h4>L’identité du responsable du fichier</h4>
            <p>Alick Mouriesse (alick.mouriesse@supinfo.com)</p>

            <h4>La finalité du fichier</h4>
            <p>Améliorer la pédagogie de l'école</p>

            <h4>Les destinataires des données</h4>
            <p>Personne, elles restent sur les serveurs de l'écoles</p>

            <h4>Leurs droits</h4>
            <p>Droit d’accès, de rectification, et d’opposition</p>
        {% endblock body %}
    {% endembed %}
{% endblock content %}