{% extends 'Layout/Default/base.html.twig' %}

{% block content %}
    {% embed 'Widget/Box/Primary/base.html.twig' %}
        {% block body %}
            <table class="table">
                <tr>
                    <th>Information</th>
                    <th>Valeur</th>
                </tr>
                <tr>
                    <td>Retour étudiant les plus présent</td>
                    <td>{{ most_improvement_supinfo_word }}</td>
                </tr>
                <tr>
                    <td>Le moyen le plus répandu pour découvrir Supinfo</td>
                    <td>{{ most_supinfo_consciousness }}</td>
                </tr>
                <tr>
                    <td>Moyenne de la durée entre l'obtention du diplome et l'embauche</td>
                    <td>{{ average_hiring_time }} année(s)</td>
                </tr>
                <tr>
                    <td>L'entreprise ayant le meilleur taux d'embauche</td>
                    <td>{{ best_enterprise_hire }}</td>
                </tr>
            </table>
        {% endblock body %}
    {% endembed %}

    {% embed 'Widget/Box/Primary/base.html.twig' %}
        {% block header %}
            Nombre d'étudiant par ville
        {% endblock header %}

        {% block body %}
            <table class="table">
                <tr>
                    <th>Ville</th>
                    <th>Nombre</th>
                </tr>
                {% for city, number in frequency_cities %}
                    <tr>
                        <td>{{ city }}</td>
                        <td>{{ number }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock body %}
    {% endembed %}
    {% embed 'Widget/Box/Primary/base.html.twig' %}
        {% block header %}
            Les {{ best_students|length }} meilleurs étudiants
        {% endblock header %}
        {% block body %}
            <table class="table">
                <tr>
                    <th>Id booster</th>
                    <th>Moyenne sur 100</th>
                </tr>
                {% for best_student in best_students %}
                    <tr>
                        <td>{{ best_student.idBooster }}</td>
                        <td>{{ best_student.averageMark }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock body %}
    {% endembed %}

    {% for city, best_students in best_students_by_cities %}
        {% embed 'Widget/Box/Primary/base.html.twig' %}
            {% block header %}
                Les meilleurs étudiants de {{ city }}
            {% endblock header %}
            {% block body %}
                <table class="table">
                    <tr>
                        <th>Id booster</th>
                        <th>Moyenne sur 100</th>
                    </tr>
                    {% for best_student in best_students %}
                        <tr>
                            <td>{{ best_student.idBooster }}</td>
                            <td>{{ best_student.averageMark }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endblock body %}
        {% endembed %}
    {% endfor %}
{% endblock content %}